.cards{
    background: black;
}

article  div  button {
    position: relative;
    top: 50px;
    left: -5px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;

}

article:hover div button {
    visibility: visible;
    top: -15px;
    opacity: 1;
}