#item-4 {
  background: url(../../../assets/img/taladro1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#item-5 {
  background: url(../../../assets/img/taladro1.png) center no-repeat;
  background-size: contain;
}
#item-6 {
  background: url(../../../assets/img/taladro1.png) center no-repeat;
  background-size: contain;
}
#item-7 {
  background: url(../../../assets/img/taladro1.png) center no-repeat;
  background-size: contain;
}

/* .fondo-madera{
    background: url(../../assets/img/fondo-madera.jpg) center center;
} */
